.chat-container {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('https://media.istockphoto.com/id/1371726643/photo/different-notifications-on-violet-background-pop-up-messages-copy-space.jpg?b=1&s=170667a&w=0&k=20&c=FhmBYUrsGsR0hYn5zEDa0SkEFfF-rwuUfMEZ4HpX0rE=');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chat-content{
    max-width: 450px;
    margin-top: 66px;
    margin-left: 19px;
  }
  
  
  .chat-header {
    display: flex;
    padding: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background-color: #007bff;
    color: white;
  }
  .chat_header{
    margin-left: 200px;
  }
  .chat_list{
    font-size: 17px;
    cursor: pointer;
  }
  .chat_list_cont{
    position: absolute;
    background-color: #ccc;
    width: 30%;
    height: 87%;
  }
  .chat_list_cont div{
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 1px;
    border-bottom: 2px solid white;
    font-weight: bold;
  }
  
  
  
  .chat-messages {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .user-message {
    display: inline-block !important;
    /* background-color: #e2f2ff;*/
    background-color: #e2f2ff;
    margin-left: auto; 
    max-width: 50% !important;
    width: auto !important;
    padding: 5px;
  }
  .msg_bg{
   
    display: inline;
   
    border-radius: 5px;
    word-break: break-all;
   
  }
  .admin-message {
    margin-right: auto;
    max-width: 50% !important;
    width: auto !important;
    background-color: #46ffe6;
padding: 5px;
  }
  
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 8px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 5px !important;
  }
  
  .chat_input_modal{
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 5px !important;
  }
  
  
  .chat-input input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  .chat_input_modal:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  
  .chat-input button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }
  .modal_button{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px !important;
  }
  .modal_button:hover{
    background-color: #0056b3;
  }
  
  
  